body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
}

:root {
  --sunflower-yellow: #ffd201;
  --brownish-grey: #6c6c6c;
  --vivid-purple: #9013fe;
  --aquamarine: #00d3ca;
  --white: #f7f7f7;
  --red-pink: #f62f5e;
  --sky-blue: #6eb2fb;
  --macaroni-and-cheese: #f1ad3d;
  --white-two: #ffffff;
  --white-three: #e1e1e1;
  --greyish: #b4b4b4;
  --black: #2e2e2e;
  --grey: #efefef;
  --grey-two: #bababa;
}
